.description {
    margin: 5em auto;
    width: 90%;
    &__img img {
        width: 100%;
    }
    &__text a {
        color: $cyan;
        border-bottom: 1px solid $cyan;
        cursor: pointer;
    }
}