.navbar {
    display: grid;
    grid-template-columns: 2fr 3fr;
    img {
        width: 50%;
    }
    ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px;
    }
}