.review {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1em;
    &__container {
        width: 80%;
        margin: auto;
        background-color: $reviewDark;
        border-radius: 10px;
        padding: 0.8em;
    }
    &__profile {
        display: grid;
        grid-template-columns: 1fr 5fr;
        grid-gap: 1em;
    }
    .profile {
        &__img img {
            width: 100%;
            border-radius: 50%;
        }
        &__text h4,
        &__text p {
            margin: 2px;
        }
    }
}