    .review {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 1.5em;
        background-image: url('images/bg-quotes.png');
        background-repeat: no-repeat;
        padding-top: 3em;
        width: 80%;
        margin: auto;
        &__profile {
            display: grid;
            grid-template-columns: 1fr 5fr;
            grid-gap: 1em;
        }
    }
    
    .profile {
        &__img img {
            width: 100%;
            border-radius: 50%;
        }
        &__text h4,
        &__text p {
            margin: 2px;
        }
    }
    
    .container {
        background-color: $reviewDark;
        border-radius: 10px;
        padding: 0.8em;
    }