@media (min-width: 768px) {
    .intro {
        width: 70%;
    }
    .description__text {
        width: 70%;
        margin: auto;
    }
    .review {
        width: 60%;
    }
    .footer {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 3fr;
        width: 80%;
        margin: auto;
        &__logo {
            grid-area: 1/span 3;
        }
        &__phone {
            grid-column: 1;
        }
        &__about {
            grid-area: 2/2
        }
        &__contact {
            grid-area: 3/"";
        }
        &__social {
            grid-area: 2/3;
        }
    }
}