@media (min-width: 768px) {
    .intro {
        width: 70%;
    }
    .description__text {
        width: 70%;
        margin: auto;
    }
    .review {
        width: 60%;
    }
    .footer {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 3fr;
        width: 80%;
        margin: auto;
        &__logo {
            grid-area: 1/span 3;
        }
        &__phone {
            grid-column: 1;
        }
        &__about {
            grid-area: 2/2
        }
        &__contact {
            grid-area: 3/2;
        }
        &__social {
            grid-area: 2/3;
        }
    }
}

@media (min-width: 1024px) {
    .intro {
        width: 60%;
        grid-gap: 1em;
        p {
            margin: 1em 2em;
        }
    }
    .feature {
        grid-template-columns: 1fr 1fr;
    }
    .description {
        display: flex;
        &__img {
            width: 45%;
        }
        &__text {
            width: 45%;
        }
    }
    .review {
        width: 90%;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .access {
        width: 70%;
        margin: auto;
        .container {
            width: 90%;
            margin: auto;
        }
        &__text {
            padding: 2em;
        }
        &__input {
            grid-template-columns: 2fr 1fr;
            input {
                width: 90%;
            }
        }
    }
    .footer {
        grid-template-columns: 3fr 2fr 1fr 1fr 2fr;
        width: 90%;
        margin: auto;
        &__logo {
            grid-area: 1/span 3;
        }
        &__location {
            grid-area: 2/1;
            grid-template-columns: 15% 85%;
        }
        &__phone {
            grid-column: 2/2;
        }
        &__about {
            grid-area: 2/3
        }
        &__contact {
            grid-area: 2/4;
        }
        &__social {
            grid-area: 2/5;
        }
    }
}