body {
  background-color: #181f2a;
  font-size: 14px;
  font-family: "Open Sans";
  color: white;
}

li {
  list-style: none;
}

.intro {
  display: grid;
  width: 90%;
  margin: auto;
  text-align: center;
}
.intro img {
  width: 100%;
}
.intro button {
  width: 75%;
  margin: auto;
}

.navbar {
  display: grid;
  grid-template-columns: 2fr 3fr;
}
.navbar img {
  width: 50%;
}
.navbar ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}