body {
  background-color: #181f2a;
  font-size: 14px;
  font-family: "Open Sans";
  color: white;
  margin: 0;
  overflow-x: hidden;
}

h2,
h3,
h4 {
  font-weight: 700;
}

p {
  font-weight: 400;
}

li {
  list-style: none;
}

.button {
  height: 3.5em;
  border-radius: 20px;
  background: linear-gradient(135deg, #65e2d9, #339ecc);
  color: white;
  border: none;
  width: 250px;
  margin: auto;
  outline: none;
  cursor: pointer;
}

.intro {
  display: grid;
  width: 90%;
  margin: auto;
  text-align: center;
}
.intro img {
  width: 100%;
}

.navbar {
  display: grid;
  grid-template-columns: 2fr 3fr;
  padding: 1em;
}
.navbar__logo {
  display: flex;
  align-items: center;
  justify-content: start;
  width: 50%;
}
.navbar__logo img {
  width: 100%;
}
.navbar ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  cursor: pointer;
}

.feature {
  padding-top: 5em;
  display: grid;
  grid-template-columns: 1fr;
}
.feature article {
  display: block;
  justify-content: center;
  width: 320px;
  margin: 3em auto;
  text-align: center;
}
.feature article img {
  margin: auto;
}

.description {
  margin: 5em auto;
  width: 90%;
}
.description__img img {
  width: 100%;
}
.description__text a {
  color: #65e2d9;
  border-bottom: 1px solid #65e2d9;
  cursor: pointer;
}

.review {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1.5em;
  background-image: url("images/bg-quotes.png");
  background-repeat: no-repeat;
  padding-top: 3em;
  width: 80%;
  margin: auto;
}
.review__profile {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-gap: 1em;
}

.profile__img img {
  width: 100%;
  border-radius: 50%;
}
.profile__text h4, .profile__text p {
  margin: 2px;
}

.container {
  background-color: #202a3c;
  border-radius: 10px;
  padding: 0.8em;
  width: 100%;
}

.access {
  margin: 5em auto;
  width: 80%;
}
.access .container {
  display: grid;
  grid-template-columns: 1fr;
}
.access__text {
  text-align: center;
  width: 100%;
}
.access__input {
  display: flex;
  justify-content: center;
}