-var navLinks = ['Features', 'Team', 'Sign In']
-var title= ['Access your files, anywhere', 'Security you can trust', 'Real-time collaboration', 'Store any type of file']

mixin feature(icon, title, text)
  article
    img(src=""+icon, alt="")
    h1=title
    p=text