include _globals.pug

main
  section.intro
    img(src="images/illustration-intro.png", alt="")
    h2 All your files in one secure location, accessible anywhere.
    p Fylo stores all your most important files in one secure location. Access them wherever you need, share and collaborate with friends family, and co-workers.
    button Get Started
  section.feature
    +feature(icon[0],title[0],'' )
