include _globals.pug

main
  section.intro
    img(src="images/illustration-intro.png", alt="")
    h2 All your files in one secure location, accessible anywhere.
    p Fylo stores all your most important files in one secure location. Access them wherever you need, share and collaborate with friends family, and co-workers.
    button.button Get Started
  section.feature
    +feature(icon[0],title[0], "The ability to use a smartphone, tablet, or computer to access your account means your files follow you everywhere.")
    +feature(icon[1], title[1], "2-factor authentication and user-controlled encryption are just a couple of the security features we allow to help secure your files.")
    +feature(icon[2], title[2], "Securely share files and folders with friends, family and colleagues for live collaboration. No email attachments required.")
    +feature(icon[3], title[3], "Whether you're sharing holidays photos or work documents, Fylo has you covered allowing for all file types to be securely stored and shared.")
  section.description
    .description__img
      img(src="images/illustration-stay-productive.png", alt="")
    .description__text
      h2 Stay productive, wherever you are
      p Never let location be an issue when accessing your files. Fylo has you covered for all of your file storage needs. <br> Securely share files and folders with friends, family and colleagues for live collaboration. No email attachments required.
      a See how Fylo works 
        img(src="images/icon-arrow.svg")
    
  section.reviews
    +review('Fylo has improved our team productivity by an order of magnitude. Since making the switch our team has become a well-oiled collaboration machine.', img[0], name[0], position[0])
    +review('Fylo has improved our team productivity by an order of magnitude. Since making the switch our team has become a well-oiled collaboration machine.', img[1], name[1], position[1])
    +review('Fylo has improved our team productivity by an order of magnitude. Since making the switch our team has become a well-oiled collaboration machine.', img[2], name[2], position[2])
  section.access
    div.access__text
      h3 Get early access today
      p It only takes a minute to sign up and our free starter tier is extremely generous. If you have any questions, our support team would be happy to help you.
    .access__input
      input(type="text")
      button.button  Get Started For Free
  footer
    section.footer
      div.footer__logo
        img(src="images/logo.svg", alt="")
      .footer__location
        img(src="images/icon-location.svg", alt="")
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
      .footer__contact
        img(src="images/icon-phone.svg", alt="")
        p +1-543-123-4567
        img(src="images/icon-email.svg", alt="")
        p example@fylo.com
      .footer__about
        ul
          each about in aboutlinks 
            li= about
      .footer__contact
        ul
          each contact in contactlinks
           li= contact
      .footer__social
        img(src="", alt="")
        img(src="", alt="")
        img(src="", alt="")